<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
  <head>
    <% if (pageName) { %>
    <title>BestBags | <%= pageName %></title>
    <%} else {%>
    <title>Shopping Cart</title>
    <% } %>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Vide" />
    <meta
      name="keywords"
      content="Big store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
    />
    <script type="application/x-javascript">
       addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- //for-mobile-apps -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Custom Theme files -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!-- js -->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/js/move-top.js"></script>
    <script type="text/javascript" src="/js/easing.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function ($) {
        $('.scroll').click(function (event) {
          event.preventDefault();
          $('html,body').animate(
            { scrollTop: $(this.hash).offset().top },
            1000
          );
        });
      });
    </script>
    <!-- start-smoth-scrolling -->
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <link
      href="//fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="//fonts.googleapis.com/css?family=Noto+Sans:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <!--- start-rate---->
    <script src="/js/jstarbox.js"></script>
    <link
      rel="stylesheet"
      href="/css/jstarbox.css"
      type="text/css"
      media="screen"
      charset="utf-8"
    />
    <script type="text/javascript">
      jQuery(function () {
        jQuery('.starbox').each(function () {
          var starbox = jQuery(this);
          starbox
            .starbox({
              average: starbox.attr('data-start-value'),
              changeable: starbox.hasClass('unchangeable')
                ? false
                : starbox.hasClass('clickonce')
                ? 'once'
                : true,
              ghosting: starbox.hasClass('ghosting'),
              autoUpdateAverage: starbox.hasClass('autoupdate'),
              buttons: starbox.hasClass('smooth')
                ? false
                : starbox.attr('data-button-count') || 5,
              stars: starbox.attr('data-star-count') || 5,
            })
            .bind('starbox-value-changed', function (event, value) {
              if (starbox.hasClass('random')) {
                var val = Math.random();
                starbox.next().text(' ' + val);
                return val;
              }
            });
        });
      });
    </script>
    <!---//End-rate---->
  </head>
  <body>
    <a href="offer.html"
      ><img src="/images/download.png" class="img-head" alt=""
    /></a>
    <div class="header">
      <div class="container">
        <div class="logo">
          <h1>
            <a href="index.html"
              ><b>T<br />H<br />E</b>Big Store<span
                >The Best Supermarket</span
              ></a
            >
          </h1>
        </div>
        <div class="head-t">
          <ul class="card">
            <li>
              <a href="wishlist.html"
                ><i class="fa fa-heart" aria-hidden="true"></i>Wishlist</a
              >
            </li>


            <% if (login) { %>
              <li>
                <a
                  class="dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-user"></i> Welcome <%=currentUser.username%>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/user/profile">User Account</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/user/logout">Logout</a>
                </div>
              </li>
              <% } else {%>
              <li>
                <a href="/user/signin"
                  ><i class="fa fa-user" aria-hidden="true"></i>Login</a
                >
              </li>
              <li>
                <a href="/user/signup"
                  ><i class="fa fa-arrow-right" aria-hidden="true"></i>Register</a
                >
              </li>
              <% }%>

            
            <li>
              <a href="about.html"
                ><i class="fa fa-file-text-o" aria-hidden="true"></i>Order
                History</a
              >
            </li>
            <li>
              <a href="shipping.html"
                ><i class="fa fa-ship" aria-hidden="true"></i>Shipping</a
              >
            </li>
          </ul>
        </div>

        <div class="header-ri">
          <ul class="social-top">
            <li>
              <a href="#" class="icon facebook"
                ><i class="fa fa-facebook" aria-hidden="true"></i><span></span
              ></a>
            </li>
            <li>
              <a href="#" class="icon twitter"
                ><i class="fa fa-twitter" aria-hidden="true"></i><span></span
              ></a>
            </li>
            <li>
              <a href="#" class="icon pinterest"
                ><i class="fa fa-pinterest-p" aria-hidden="true"></i
                ><span></span
              ></a>
            </li>
            <li>
              <a href="#" class="icon dribbble"
                ><i class="fa fa-dribbble" aria-hidden="true"></i><span></span
              ></a>
            </li>
          </ul>
        </div>

        <div class="nav-top">

          <%- include categories-navbar %>
          
          <div class="cart">
            <a href="/shopping-cart">
            <span class="fa fa-shopping-cart my-cart-icon"
              ><span class="badge badge-notify my-cart-badge">
                <% if(session.cart) { %> <%= session.cart.totalQty %> <% } else
                { %> 0 <% } %>
              </span></span
            >
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!---->
